* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    padding-top: 1em;
}

img {
    display: block;
    margin: 1.5em auto 1em auto;
    max-height: 250px;
    object-fit: contain;
    max-width: 90%;
}

hr {
    border: 1px solid rgb(64, 147, 119);
}

.container {
    display: flex;
    margin: auto;
}

.weather-details {
    flex-direction: column;
    text-align: left;
    margin-top: 1em;
}

#caption-container {
    max-width: 80%;
    margin: auto;
    line-height: 1.5;
}

#sign-off {
    margin-bottom: 1em;
}

#current-weather {
    line-height: 1.5;
    padding: 1em;
}

#current-temp-label {
    margin-top: 1em;
    padding: 0;
    text-decoration: underline;
    letter-spacing: 2px;
}

#current-temp {
    font-size: 5em;
    letter-spacing: .1em;
    font-weight: bold;
    font-family: 'Petit Formal Script', cursive;
}

#weather-forecast {
    border: 2px solid grey;
    border-radius: 5px;
    width: 90%;
    margin: 0 auto 1em;
    padding: 0 0 1em;
}

#forecast-label {
    margin: 1em 0;
    padding: 0;
    text-decoration: underline;
    letter-spacing: 2px;
}

#trivia,
#jeopardy-answer {
    background-color: #060CE9;
    padding: 1em;
    border-radius: 10px;
}

#sign-off {
    padding: 1em;
    font-size: 1.5rem;
}

#trivia,
#dad-joke {
    font-size: 1.25rem;
    line-height: 1.5;
    max-width: 90%;
    margin: 1em auto;
}

#jeopardy-answer {
    width: 75%;
    margin: 0 auto 1em auto;
    font-family: 'ITC Korinna', sans-serif;
    color: whitesmoke;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

#jeopardy-answer>p {
    padding: 0.25em 0;
}

#jeopardy-dollar {
    color: hsl(62, 61%, 55%);
    font-family: Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}

.jeopardy-category,
.jeopardy-question {
    font-family: 'ITC Korinna', sans-serif;
    color: whitesmoke;
    text-transform: uppercase;
}

.jeopardy-category {
    padding: .5em;
}

.jeopardy-question {
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 1.5px;
    font-weight: 500;
}